*.komodoproject
.coverage
coverage.xml
htmlcov/

.pytest_cache
external_software/
unittest_tmp/*
unitTest_tmp/*
.vscode/*
*.out
*.log
*.sqlite
*.xlsx
*.so
*.nim
findn/*.pyc
.env
.env_test
*.snippet
flake8*
Pipfile.lock
