*.komodoproject
unittest_tmp
unittest_Tmp
*.out
*.log
findn/*.sqlite
findn/*.xlsx
findn/*.so
findn/*.nim
.env

# Vim
*~
*.swp

# Virtual environment
venv
Pipfile.lock

# R
*.Rproj
.Rproj.user

# Python
__pycache__/
