
*/PKG-INFO
.coverage
coverage.xml
htmlcov/
__pycache__
.pytest_cache
external_software/
unitTest_tmp/*
unitTest_tmp/*
.vscode/*
*.out
*.log
*.sqlite
*.xlsx
*.so
*.nim
findn/*.pyc
.env
.env_test
*.snippet
flake8*
Pipfile.lock
fn4server_launch*.sh
start_script.sh
test_startup.sh
version.py
.eggs
findNeighbour4.egg-info/
