[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "*"
dnspython = "*"
blinker = "*"
urllib3 = "*"
requests = "*"
pymongo = "*"
pandas = "*"
markdown = "*"
matplotlib = "*"
networkx = "*"
bokeh = "*"
flask = "*"
flask-cors = "*"
psutil = "*"
scipy = "*"
scikit-learn = "*"
progressbar2 = "*"
sqlalchemy = "*"
networkit = "*"
cython = "*"
seaborn = "*"
openpyxl = "*"
faker = "*"
xlrd = "*"
sphinx = "*"
recommonmark = "*"
pyvolve = "*"
ete3 = "*"
sip = "*"
pyqt5 = "*"
sentry-sdk = "*"

[requires]
python_version = "3.6"
