[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cmake = "*"
cython = "*"
biopython = "*"
dnspython = "*"
blinker = "*"
urllib3 = ">=1.26.5"
requests = "*"
pymongo = ">=3.11.3"
pandas = ">=1.2.4"
Markdown = "*"
matplotlib = "*"
networkx = "*"
bokeh = "*"
Flask = "*"
Flask-Cors = "*"
psutil = "*"
scipy = "*"
scikit-learn = "*"
progressbar2 = "*"
SQLAlchemy = "*"
networkit = "*"
Cython = "*"
seaborn = "*"
openpyxl = "*"
Faker = "*"
xlrd = "*"
Sphinx = "*"
recommonmark = "*"
Pyvolve = "*"
ete3 = "*"
sip = "*"
sentry-sdk = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
coverage = "*"
cx-Oracle = "*"
statsmodels = "*"
patsy = "*"
pyqt5 = "*"
pymysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
