[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "*"
dnspython = "*"
blinker = "*"
urllib3 = "*"
requests = "*"
pymongo = "==3.11.3"
pandas = "*"
markdown = "*"
matplotlib = "*"
networkx = "*"
bokeh = "*"
flask = "*"
flask-cors = "*"
psutil = "*"
scipy = "*"
scikit-learn = "*"
progressbar2 = "*"
sqlalchemy = "*"
networkit = "*"
cython = "*"
seaborn = "*"
openpyxl = "*"
faker = "*"
xlrd = "*"
sphinx = "*"
recommonmark = "*"
pyvolve = "*"
ete3 = "*"
sip = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"

[packages.001a617]
path = "/data/software/fn4dev"
editable = true
