biopython==1.72
certifi==2018.4.16
chardet==3.0.4
click==6.7
decorator==4.3.0
dnspython==1.15.0
et-xmlfile==1.0.1
ete3==3.1.1
Flask==1.0.2
idna==2.7
imageio==2.3.0
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
log4mongo==1.6.2
MarkupSafe==1.0
networkx==2.1
numpy==1.14.5
openpyxl==2.5.4
pandas==0.23.1
Pillow==5.2.0
psutil==5.4.6
pymongo==3.7.0
PyQt5==5.11.2
PyQt5-sip==4.19.12
python-dateutil==2.7.3
pytz==2018.4
Pyvolve==0.8.8
requests==2.19.1
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.8
urllib3==1.23
uuid==1.30
Werkzeug==0.14.1
winkerberos==0.7.0
